<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Ma Navigation</title>
    <link rel="stylesheet" href="../static/css/accueil2.css">
</head>
<body>
    <nav class="barre-navigation">
        <div class="logo">
            <img src="votre-logo.png" alt="Logo">
        </div>
        <div class="menus">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">À propos</a></li>
            </ul>
        </div>
        <div class="connexion-deconnexion">
            <button class="bouton-connexion">Connexion</button>
            <button class="bouton-deconnexion">Déconnexion</button>
        </div>
    </nav>
    <img src="../img/img accueil.jpg" alt="Image d'accueil">
    <section class="section-accueil">
        <div class="contenu-accueil">
            <h1>Titre de l'image</h1>
            <div style="display: flex;" class="contenu-texte">
                <div class="texte-box">
                    <p>AZE ERTYUI ERHJ ERU</p>
                </div>
                <div class="texte-box">
                    <p>ERT ERTY ERTYU SDFG</p>
                </div>
                <div class="texte-box">
                    <p>ZEDF dfg rtyuk details/details</p>
                </div>
                <div class="texte-box">
                    <p>Texte 4</p>
                </div>
            </div>
            <button class="bouton-commencer">Commencer</button>
        </div>
    </section>
</body>
</html>
